.resultsWrapper {
    position: absolute;
    top: 10px;
    box-sizing: border-box;
    width: 220px;
    min-height: 100%;
    border-right: 2px solid white;
    padding: 10px 16px 10px 10px;
    transition: left 0.9s;
}

.resultsWrapper_hide {
    left: -120px;
}

.resultsWrapper_show {
    left: 0;
}

.results_hide {
    opacity: 0;
    transition: opacity 0.4s;
}

.results_show {
    opacity: 1;
    transition: opacity 0.4s;
}

.results {
    display: flex;
    flex-direction: column;
    padding: 12px 0 18px 0;
    margin: 12px 0;
    border-bottom: 1.5px solid white;
}

.results_title {
    width: 98%;
    text-align: center;
    font-size: 150%;
    margin: 0;
}

.results_scores_show {
    opacity: 0;
    height: auto;
    animation: fadeIn_results_scores 0.7s forwards;
}

@keyframes fadeIn_results_scores {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.results_scores_wrapper {
    display: flex;
    justify-content: space-between;
}

.results_caption {
    display: flex;
    justify-content: space-around;
    font-size: 130%;
}

.result_score {
    font-size: 118%;
    margin: 8px 0;
}

.result_name {
    font-size: 118%;
    margin: 8px 0;
}

.results_btn {
    text-align: right;
}

.results_btn button {
    font-size: 220%;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0 0 6px 0;
    width: 70px;
    height: 55px;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: color 0.5s;
}

.results_btn_hide {
    font-size: 88%;
    padding-top: 6px;
}

.resultsWrapper_show .results_btn button {
    color: black;
}

.send_btn {
    text-align: center;
    padding-top: 20px;
}

.send_btn_hide {
    display: none;
}

.send_btn button {
    font-size: 130%;
    min-height: 105px;
    padding: 12px;
    white-space: pre-line;
}

@media (max-width: 900px) {
    .resultsWrapper {
        background-color: burlywood;
    }
}

@media (max-width: 500px) {
    .resultsWrapper {
        width: 98%;
        top: 5px;
        padding-top: 25px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .resultsWrapper_hide {
        left: -98%;
    }
    .resultsWrapper_show {
        left: 0px;
    }
    .results_btn {
        position: fixed;
        left: 5%;
        top: 20px;
        transition: all 0.5s;
    }
    .results_btn button {
        width: 45px;
        padding-bottom: 2px;
    }

    .results_btn_hide {
        font-size: 62%;
        padding-right: 2px;
        padding-top: 0;
        transform: rotate(-90deg);
    }
    .resultsWrapper_show .results_btn {
        transform: rotate(90deg)
    }
    .results {
        width: 70%;
        margin-left: 15%;
    }
}

@media (max-height: 670px) {
    .result_name, .result_score {
        margin: 6px 0;
    }
    .send_btn button {
        min-height: 0;
        white-space: unset;
    }
}

@media (max-height: 580px) {
    .results {
        border-bottom: none;
    }
    .results_caption {
        margin-bottom: 9px;
    }
    .result_name, .result_score {
        font-size: 110%;
        margin: 4px 0;
    }  
}

/* no styles for some devices with landscape orientation */
@media (max-width: 813px) and (orientation: landscape) {
    .resultsWrapper {
        display: none;
    }
}