.block {
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    background-color: green;
    margin: 0 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    border-radius: 4px;
    user-select: none;
    font-size: 200%;
    line-height: normal;
}

.player_style {
    color: blue;
}

.block_endGame {
    color: rgba(255, 255, 255, 0.767);
    animation: fadeIn_endGame 0.1s forwards;
}

@keyframes fadeIn_endGame {
    0% {font-size: 200%}
    100% {font-size: 280%}
}