.field {
    display: flex;
    flex-direction: column;
}

.field_body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.field_footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
}

.reload {
    height: 50px;
    font-size: 135%;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
  }