.currentResults {
    box-sizing: border-box;
    width: 320px;
    padding: 20px 10px;
    text-align: center;
}

.currentResults h2 {
    font-size: 130%;
}

.currentResults h3, h2 {
    margin-top: 12px;
}

.currentResults_scores {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 400px) {
    .currentResults {
      padding-bottom: 10px;
    } 
}

@media (max-width: 370px) {
    .currentResults_scores h3 {
        margin-top: 2px;
    } 
}