.settingsWrapper {
    position: absolute;
    top: 10px;
    box-sizing: border-box;
    width: 220px;
    min-height: 100%;
    border-left: 2px solid white;
    padding: 10px 10px 10px 16px;
    transition: right 0.9s;
}

.settingsWrapper_hide {
    right: -120px;
}

.settingsWrapper_show {
    right: 0;
}

.settings_hide {
    opacity: 0;
    transition: opacity 0.4s;
}

.settings_show {
    opacity: 1;
    transition: opacity 0.4s;
}

.settings_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12px 0 18px 0;
    margin: 12px 0;
    border-bottom: 1.5px solid white;
}

.settings_title {
    width: 98%;
    text-align: center;
    font-size: 150%;
    margin: 0 0 5px 0;
}

.input_wrapper {
    position: relative;
    margin-top: 10px;
    text-align: center;
}

#playerName {
    box-sizing: border-box;
    width: 94%;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #9E9E9E;
    font-size: 130%;
}

.input_ok {
    font-size: 155%;
    font-weight: bold;
    color: darkgreen;
    position: absolute;
    top: 2px;
    right: 20px;
    transition: opacity 0.3s;
}

.input_ok_hide {
    opacity: 0;
}

.settings_item button {
    width: 110px;
    height: 35px;
}

.settings_symbols {
    display: inline-block;
    text-align: center;
    font-size: 200%;
    user-select: none;
    cursor: pointer;
    margin: 0;
}

.settings_symbols_active {
    display: inline-block;
    text-align: center;
    font-size: 200%;
    user-select: none;
    cursor: pointer;
    margin: 0;
    font-weight: bold;
    color: #014401;
}

.settings_btn button {
    font-size: 220%;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0 0 6px 0;
    width: 70px;
    height: 55px;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: color 0.5s;
}

.settings_btn_hide {
    font-size: 88%;
    padding-top: 6px;
}

.settingsWrapper_show .settings_btn button {
    color: black;
}

@media (max-width: 900px) {
    .settingsWrapper {
        background-color: burlywood;
    }
    
}

@media (max-width: 500px) {

    .settingsWrapper {
        width: 98%;
        top: 5px;
        padding-top: 45px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .settingsWrapper_show {
        z-index: 1;
    }

    .settingsWrapper_hide {
        right: -98%;
    }

    .settings_btn {
        position: fixed;
        right: 5%;
        top: 20px;
        transition: all 0.5s;
    }

    .settings_btn button {
        width: 45px;
        padding-bottom: 2px;
    }

    .settings_btn_hide {
        font-size: 62%;
        padding-left: 2px;
        padding-top: 0;
        transform: rotate(90deg);
    }

    .settingsWrapper_show .settings_btn {
        transform: rotate(-90deg)
    }

    .settings_show {
        width: 80%;
        margin-left: 10%;
    }

    .settings_hide {
        width: 80%;
        margin-left: 10%;
    }

    .input_wrapper {
        width: 98%;
    }

}

@media (max-width: 350px) {
    .settings_show {
        width: 96%;
        margin-left: 2%;
    }
    .settings_hide {
        width: 96%;
        margin-left: 2%;
    }
}

/* styles for some devices with landscape orientation */
@media (max-width: 813px) and (orientation: landscape) {
    .settings_item:nth-child(n+2) {
        display: none;
    }
}